body{
    background-color: black;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: 100px;
    border: 2px solid;
    font-size: 30px;
    padding: 25px;
    box-sizing: border-box;
}
#container:hover{
    border: 2px solid red;
    box-shadow: 10px 10px red;
}